name: Docker_Image_Build
on:
  push:
    branches: [ "main" ]
    
jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: CheckOut
        uses: actions/checkout@v3
      
      - name: Docker MetaData
        id: Docker_Meta
        uses: docker/metadata-action@v1
        with:
          images: chlzzz/myrepo
          tag-semver: |
            {{version}}
            {{major}}.{{minor}}
            
      - name: SetUP Docker Buildx
        uses: docker/setup-buildx-action@v2.0.0
        
      - name: Docker Login
        uses: docker/login-action@v2.0.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      
      - name: Build and Push Docker Image
        uses: docker/build-push-action@v3.0.0
        with:
          context: .
          file: Dockerfile
          push: true

