name: Docker_Image_Build
on:
  push:
    branches: [ "main" ]
    
jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: CheckOut
        uses: actions/checkout@v3
            
      - name: SetUP Docker Buildx
        uses: docker/setup-buildx-action@v2.0.0
        
      - name: Docker Login
        uses: docker/login-action@v2.0.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      
      - name: Build and Push Docker Image
        env:
          NAME: chlzzz
          REPO: myrepo
          run: |
            docker build -t $REPO
            docker tag $REPO:latest $NAME/$REPO:latest
            docker push $NAME/$REPO:latest
          
